<!DOCTYPE html>
<html lang="en">
<head>
	<title>Tarea 3 Manuel y Aurivan</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	{% load static %}
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="{% static "SistLogin/images/icons/favicon.ico"%}"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static "SistLogin/vendor/bootstrap/css/bootstrap.min.css"%}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static "SistLogin/fonts/font-awesome-4.7.0/css/font-awesome.min.css"%}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static "SistLogin/fonts/iconic/css/material-design-iconic-font.min.css"%}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static "SistLogin/vendor/animate/animate.css"%}">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{% static "SistLogin/vendor/css-hamburgers/hamburgers.min.css"%}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static "SistLogin/vendor/animsition/css/animsition.min.css"%}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static "SistLogin/vendor/select2/select2.min.css"%}">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{% static "SistLogin/vendor/daterangepicker/daterangepicker.css"%}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static "SistLogin/css/util.css"%}">
	<link rel="stylesheet" type="text/css" href="{% static "SistLogin/css/main.css"%}">
<!--===============================================================================================-->
</head>
<body>

	{% if messages %}
    <ul class="messages">
    	{% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
	
	<div class="limiter">
		<div class="container-login100" style="background-image: url('{% static "SistLogin/images/bg-01.jpg" %}');">
			<div class="wrap-login100">
				<form class="login100-form validate-form" method="post">
					{% csrf_token %}
					<span class="login100-form-logo">
						<i class="zmdi zmdi-landscape"></i>
					</span>

					<span class="login100-form-title p-b-34 p-t-27">
						Registro de usuario
					</span>

					<div class="wrap-input100 validate-input">
						<input class="input100" type="text" name="username" placeholder="correo">
						<span class="focus-input100" data-placeholder="&#xf207;"></span>
					</div>

					<div class="wrap-input100 validate-input">
						<input class="input100" type="password" name="pass" placeholder="contraseña">
						<span class="focus-input100" data-placeholder="&#xf191;"></span>
					</div>

					<div class="wrap-input100 validate-input">
							<input class="input100" type="password" name="pass2" placeholder="repetir contraseña">
							<span class="focus-input100" data-placeholder="&#xf191;"></span>
					</div>

					<div class="container-login100-form-btn">
						<button class="login100-form-btn">
							Registrar usuario
						</button>
					</div>
				</form>
				<div class="text-center">
						<h1><a class="txt1" href="/login" class="text-center">Iniciar Sesion</a></h1>
				</div>
			</div>
		</div>
	</div>
	
	<div id="dropDownSelect1"></div>

</body>
</html>